/** getion de l'aside en general **/

.AsideContainer{
    box-shadow: 0px 0px 5px 0px rgba(190, 190, 190, 0.5),0px 0px 5px 0px rgba(47, 47, 103, 0.5);
    padding-top: 10px;
    height: 100vh;
    width: 40px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    z-index: 2;
    background-color: #000000;
}
.AsideContainer:hover{
    width: 100%;
}
.Aside{
    height: 100%;
}
/* le tr et le td de l'aside */
.AsideContainer tr{
    width: 100%;
    height: 50px;
}
.AsideContainer .td{
    width:40px;
    min-width: 40px;
    max-width: 40px;
    text-align: center;
}
.AsideContainer .td1{
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}
a{
    text-decoration: none;
    color: white;
}
/** gestion du header de l'aside **/

.AsideHeader{
    height: 50px;
}
.AsideHeader .td1{
    transition-duration: .9s;
}
.AsideContainer:hover .AsideHeader .td1{
    opacity: 1;
}

/* gestion de la barre de navigation de l'aside */
.AsideNav{
    width: 100%;
    margin-top: 20px;
}
.AsideNav tr .td1{
    transition-duration: .5s;
}
.AsideContainer .AsideNav tr:hover .td1 {
    opacity: 1;
}
/*  gestion du bas de l'aside */

.asideEnd{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    padding-bottom: 5px;
}
.profil{
    background-color: #fff;
    height: 30px;
    width: 30px;
    margin-left: 4px;
    border-radius: 50%;
    overflow: hidden;
}
.asideEnd .td1{
    transition-duration: .5s;
}
.AsideContainer .asideEnd tr:hover .td1{
    opacity: 1;
}
