.AsideAceuilContainer{
    width: 100%;
}
.headerAsideAceuil{
    width: 100%;
}
.params{
    padding-left: 5px;
    color: rgb(90, 63, 134);
}
.sugesstion{
    height: 300px;
    margin-top: 10px;
    overflow: scroll;
    scrollbar-width: none;
}
.sugesstion > *{
    margin: 4px 1px;
}
.footerAsideAceuil{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.footerAsideAceuil p{
    width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.footerAsideAceuil p a{
    color: rgb(70, 48, 117);
}
.dedicace{
    margin-top: 15px;
    text-align: center;
}