.Statut{
    height: 95%;
    width: 150px;
    margin: 5px 9px;
    box-shadow: 0px 0px 5px 0px rgba(190, 190, 190, 0.5),0px 0px 5px 0px rgba(47, 47, 103, 0.5);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.StatutImage{
    height: 80%;
}
.StatutImage div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.StatutFollow{
    height: 20%;
    text-align: center;
}
.StatutFollow button{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: box-shadow .5s ease-in-out,padding .5s ease-in-out;
}
.StatutFollow:hover button{
    padding: 0px 5px;
    box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.5),0px 0px 10px 0px rgba(47, 47, 103, 0.5);
}