.connection{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px rgba(86, 86, 86, 0.5);
    transition-property: border-radius, box-shadow;
    transition-duration: .5s,1.5s;
    transition-timing-function: ease-in-out;
}
.connection:hover{
    box-shadow: 0px 0px 25px 0px rgba(187, 187, 187, 0.5),0px 0px 25px 0px rgba(37, 36, 101, 0.5);
    border-radius: 30px;
}
.connection__header{
    width: 100%;
    text-align: center;
}
.connection__body{
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.div__input{
    width: 80%;
}
.connection__button{
    background-color: transparent;
    color: white;
    border: none;
    height: 20px;
    /* border: 1px solid #ff0; */
    transition: all .5s ease-in-out;
}
.connection__button:hover{
    box-shadow: 0px 0px 10px 0px rgba(187, 187, 187, 0.5),0px 0px 15px 0px rgba(37, 36, 101, 0.5);
    border-radius: 08px;
    padding: 0px 10px;
}
.inscription__button{
    background-color: transparent;
    border: none;
    color: white;
    height: 30px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.inscription__button:hover{
    text-decoration: underline;
}
.div__button{
    display: flex;
    justify-content: center;
}
