.inscription{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px rgba(86, 86, 86, 0.5);
    transition-property: border-radius, box-shadow;
    transition-duration: .5s,1.5s;
    transition-timing-function: ease-in-out;
    overflow: scroll;
    scrollbar-width: none;
    padding-bottom: 10px;
}
.inscription:hover{
    box-shadow: 0px 0px 25px 0px rgba(187, 187, 187, 0.5),0px 0px 25px 0px rgba(37, 36, 101, 0.5);
    border-radius: 30px;
}
.inscription__header{
    width: 100%;
    text-align: center;
}
.inscription__body{
    display: flex;
    height: 70%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}
.div__input{
    width: 80%;
}
.inscription_button{
    background-color: transparent;
    color: white;
    border: none;
    height: 20px;
    transition: all .5s ease-in-out;
    margin: 20px 10px 20px 10px;
}
.inscription_button:hover{
    box-shadow: 0px 0px 10px 0px rgba(187, 187, 187, 0.5),0px 0px 15px 0px rgba(37, 36, 101, 0.5);
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
}
.connection_button{
    background-color: transparent;
    border: none;
    color: white;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.connection_button:hover{
    text-decoration: underline;
}
.div__button{
    display: flex;
    justify-content: center;
}
